

/*@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display&family=Titillium+Web&display=swap');
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{background-color: #282c34;
  font-family: 'Titillium Web', sans-serif;}
.App-header{
  background-color: #282c34 ;
}

#first-section{background-color: #2A4365; 
  color: white;}



#title{font-size: 30px;}

@media screen and (max-width: 540px) {
  #title{font-size: 20px; padding-left: 3rem;}
}

#second-section{background-color: #282c34;}

#third-section{background: #512DA8}

input.input-error,select.input-error{
  border-color: #fc8181; border-width: 2px;
}

.error{color: #fc8181;}
