body {
  margin: 0;
  font-family: 'Playfair Display', serif;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

#heading {
  font-family: 'Playfair Display', serif;
}

#sample {
  font-family: 'Playfair Display', serif;
}